<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>DesarrolloWeb by Platzi</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
	<link rel="stylesheet" href="../static/normalize.css">
</head>
<body>
	<div class="toolbar">
		<nav>
			<ul>
				<li><a href="">Inicio</a></li>
				<li><a href="">Contacto</a></li>
				<li><a href="">Deportes</a></li>
				<li><a href="">Sucesos</a></li>
			</ul>
		</nav>
		<ul>
			<li><a href="">Login</a></li>
			<li><a href="">Register</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div>
	<header>
		<h2>FrontPlatzi</h2>
	</header>
		<header>
			
		</header>
		<article>
			<header>
				<h3>Titulo Articulo</h3>
			</header>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque harum odit magnam ad sequi consequuntur repellendus totam nulla, dolore maxime, est, enim dolorem quibusdam nostrum, ullam animi quos? Dolore, vel!
			<aside>
				
			</aside>
		</article>
	</Section>
	<footer>
		
	</footer>
</body>
</html>